@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Roboto-Light";
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: 300;
}